<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLiteConnectionString" value="data source=sysdb.db" />
    <add key="getDataDaysBefore" value="2" /><!--获取多少天之前的数据-->
    <add key="minIssueCount" value="8" /><!--最小计算期数-->
    <add key="maxIssueCount" value="15" /><!--最大计算期数-->
    <add key="isDebug" value="false" /><!--是否调试状态-->
    <add key="isShowDetail" value="true" /><!--是否显示相同期次详细信息-->
    <add key="isShowCount0" value="false" /><!--是否显示无相同的期数信息-->
  </appSettings>
    <startup>         
    <supportedRuntime version="v2.0.50727" /></startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data></configuration>
